// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.heading02 {
	font-size: 26px;
}

.heading02 span {
	display: flex;
	align-items: center;
	color: #498ee0;
	font-size: 18px;
	margin: 5px;
}

.heading02 span::before {
	content: '';
	display: inline-block;
	margin-right: 20px;
	width: 40px;
	height: 1px;
	background-color: #498ee0;
}